<%- include('header.ejs'); %>
<%- modal %> 
  <form action="create" method="post" >
    <div class="row <%if(typeof label === 'undefined'){%>invisible<%}%>">
      <div class="col-md-12">
        <button class="btn btn-<%- color %> btn-lg btn-block" 
          data-bs-toggle="modal" data-bs-target="#exampleModal" 
          type="submit">Información de envio</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Dirección de Origen</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nombreOrigen" >Nombre<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nombreOrigen" name="nombreOrigen" placeholder="" 
                value="<%- printValue("nombreOrigen")%>" <%- disabled %> required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="empresaOrigen">Empresa</label>
                <input type="text" class="form-control" name="empresaOrigen" id="empresaOrigen" placeholder="" 
                value="<%- printValue("empresaOrigen")%>" <%- disabled %> >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="emailOrigen">Email</label>
                <input type="text" class="form-control" id="emailOrigen" name="emailOrigen" placeholder="" 
                value="<%- printValue("emailOrigen")%>" <%- disabled %> >
              </div>
              <div class="col-md-6 mb-3">
                <label for="telefonoOrigen">Teléfono<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="telefonoOrigen" name="telefonoOrigen" placeholder="" 
                value="<%- printValue("telefonoOrigen")%>" <%- disabled %> required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="paisOrigen">Pais<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="paisOrigen" name="paisOrigen" placeholder="" 
                value="<%- printValue("paisOrigen")%>" <%- disabled %> required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="calleOrigen">Calle<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="calleOrigen" name="calleOrigen" placeholder=""
                value="<%- printValue("calleOrigen")%>" <%- disabled %> required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="numeroOrigen">Número</label>
                <input type="text" class="form-control" id="numeroOrigen" name="numeroOrigen" placeholder=""
                value="<%- printValue("numeroOrigen")%>" <%- disabled %> >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cpOrigen">Codigo Postal<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cpOrigen" name="cpOrigen" placeholder="" 
                value="<%- printValue("cpOrigen")%>" <%- disabled %> required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="coloniaOrigen">Colonia</label>
                <input type="text" class="form-control" id="coloniaOrigen" name="coloniaOrigen" placeholder="" 
                value="<%- printValue("coloniaOrigen")%>" <%- disabled %> >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="ciudadOrigen">Ciudad<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="ciudadOrigen" name="ciudadOrigen" placeholder="" 
                value="<%- printValue("ciudadOrigen")%>" <%- disabled %> required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="estadoOrigen">Estado<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="estadoOrigen" name="estadoOrigen" placeholder="" 
                value="<%- printValue("estadoOrigen")%>" <%- disabled %> required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="rfcOrigen">RFC</label>
                <input type="text" class="form-control" id="rfcOrigen" name="rfcOrigen" placeholder="" 
                value="<%- printValue("rfcOrigen")%>" <%- disabled %> >
              </div>
              <div class="col-md-6 mb-3">
                <label for="referenciaOrigen">Referencia</label>
                <input type="text" class="form-control" id="referenciaOrigen" name="referenciaOrigen" placeholder="" 
                value="<%- printValue("referenciaOrigen")%>" <%- disabled %>>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Destino</h4>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nombreDestino">Nombre<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="nombreDestino" name="nombreDestino" placeholder="" 
                  value="<%- printValue("nombreDestino")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="empresaDestino">Empresa</label>
                  <input type="text" class="form-control" id="empresaDestino" name="empresaDestino" placeholder="" 
                  value="<%- printValue("empresaDestino")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="emailDestino">Email</label>
                  <input type="text" class="form-control" id="emailDestino" name="emailDestino" placeholder="" 
                  value="<%- printValue("emailDestino")%>" <%- disabled %> >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="telefonoDestino">Teléfono<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="telefonoDestino" name="telefonoDestino" placeholder="" 
                  value="<%- printValue("telefonoDestino")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="paisDestino">Pais<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="paisDestino" name="paisDestino" placeholder="" 
                  value="<%- printValue("paisDestino")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="calleDestino">Calle<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="calleDestino" name="calleDestino" placeholder="" 
                  value="<%- printValue("calleDestino")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="numeroDestino">Número</label>
                  <input type="text" class="form-control" id="numeroDestino" name="numeroDestino" placeholder="" 
                  value="<%- printValue("numeroDestino")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cpDestino">Codigo Postal<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cpDestino" name="cpDestino" placeholder="" 
                  value="<%- printValue("cpDestino")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="coloniaDestino">Colonia</label>
                  <input type="text" class="form-control" id="coloniaDestino" name="coloniaDestino" placeholder="" 
                  value="<%- printValue("coloniaDestino")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="ciudadDestino">Ciudad<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="ciudadDestino" name="ciudadDestino" placeholder="" 
                  value="<%- printValue("ciudadDestino")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="estadoDestino">Estado<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="estadoDestino" name="estadoDestino" placeholder="" 
                  value="<%- printValue("estadoDestino")%>" <%- disabled %> required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="rfcDestino">RFC</label>
                  <input type="text" class="form-control" id="rfcDestino" name="rfcDestino" placeholder="" 
                  value="<%- printValue("rfcDestino")%>" <%- disabled %> >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="referenciaDestino">Referencia</label>
                  <input type="text" class="form-control" id="referenciaDestino" name="referenciaDestino" placeholder="" 
                  value="<%- printValue("referenciaDestino")%>" <%- disabled %> >
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Paquete</h4>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnSobre" autocomplete="off" value="envelope" <%- checked("envelope") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnSobre">Sobre</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnCaja" autocomplete="off" value="box" <%- checked("box") %> <%- disabled %> required >
                  <label class="btn btn-outline-primary" for="btnCaja">caja</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnTarima" autocomplete="off" value="pallet" <%- checked("pallet") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnTarima">tarima</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnCamion" autocomplete="off" value="full_truck_load" <%- checked("full_truck_load") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnCamion">camión</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="contenido">Contenido<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="contenido" name="contenido" placeholder=""
                  value="<%- printValue("contenido")%>" <%- disabled %> required>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="valor">Valor declarado</label>
                  <input type="text" class="form-control" id="valor" name="valor" placeholder="" 
                  value="<%- printValue("valor")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="cantidad">Cantidad de paquetes</label>
                  <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="" min="1"
                  value="<%- printValue("cantidad")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="largo">Largo<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="largo" name="largo" placeholder="" 
                  value="<%- printValue("largo")%>" <%- disabled %> required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="ancho">Ancho<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="ancho" name="ancho" placeholder="" 
                  value="<%- printValue("ancho")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="altura">Altura<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="alto" name="alto" placeholder="" 
                  value="<%- printValue("alto")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="peso">Peso<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="peso" name="peso" placeholder="" 
                  value="<%- printValue("peso")%>" <%- disabled %> required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="servicios">Seguro</label>
                  <input type="text" class="form-control" id="seguro" name="seguro" placeholder="" 
                  value="<%- printValue("seguro")%>" <%- disabled %> >

                </div>
                <div class="col-md-4 mb-3">
                  <label for="firma">Firma electrónica</label>
                  <input type="text" class="form-control" id="firma" name="firma" placeholder="" 
                  value="<%- printValue("firma")%>" <%- disabled %> >
                </div>
                <div class="col-md-4 mb-3">
                  <label for="peligroso">Considerado Peligroso</label>
                  <input type="text" class="form-control" id="peligroso" name="peligroso" placeholder="" 
                  value="<%- printValue("peligroso")%>" <%- disabled %> >
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-end">
        <hr class="mb-4">
        <button class="btn btn-<%- color %> btn-lg btn-block" <%- disabled %> type="submit">Cotizar</button>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="exampleModalLabel"><%- modal_title %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <ul class="list-group mb-3">
                    <% if(typeof label !== 'undefined') {%>
                    <%- printObject(label) %>
                    <% } else if(typeof quotes !== 'undefined') {%>
                    <%- printQuotes(quotes) %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </form>
  <%- include('footer.ejs'); %>