<%- include('header.ejs'); %>
  <form action="create" method="post" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Dirección de Origen</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="nombreOrigen" name="nombreOrigen" placeholder="" value="<%if(typeof envio !== 'undefined') {%> <%- envio.nombreOrigen %> <%}%>" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Empresa</label>
                <input type="text" class="form-control" name="empresaOrigen" id="empresaOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.empresaOrigen %> <%}%>" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Email</label>
                <input type="text" class="form-control" id="emailOrigen" name="emailOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.emailOrigen %> <%}%>" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Teléfono</label>
                <input type="text" class="form-control" id="telefonoOrigen" name="telefonoOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.telefonoOrigen %> <%}%>" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Pais</label>
                <input type="text" class="form-control" id="paisOrigen" name="paisOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.paisOrigen %> <%}%>" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Calle</label>
                <input type="text" class="form-control" id="calleOrigen" name="calleOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.calleOrigen %> <%}%>" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Número</label>
                <input type="text" class="form-control" id="numeroOrigen" name="numeroOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.numeroOrigen %> <%}%>" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Codigo Postal</label>
                <input type="text" class="form-control" id="cpOrigen" name="cpOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.cpOrigen %> <%}%>" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Colonia</label>
                <input type="text" class="form-control" id="coloniaOrigen" name="coloniaOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.coloniaOrigen %> <%}%>" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Ciudad</label>
                <input type="text" class="form-control" id="ciudadOrigen" name="ciudadOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.ciudadOrigen %> <%}%>" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Estado</label>
                <input type="text" class="form-control" id="estadoOrigen" name="estadoOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.estadoOrigen %> <%}%>" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">RFC</label>
                <input type="text" class="form-control" id="rfcOrigen" name="rfcOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.rfcOrigen %> <%}%>" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Referencia</label>
                <input type="text" class="form-control" id="referenciaOrigen" name="referenciaOrigen" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.referenciaOrigen %> <%}%>" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Destino</h4>
          </div>
          <div class="card-body">
            
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Nombre</label>
                  <input type="text" class="form-control" id="nombreDestino" name="nombreDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.nombreDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Empresa</label>
                  <input type="text" class="form-control" id="empresaDestino" name="empresaDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.empresaDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Email</label>
                  <input type="text" class="form-control" id="emailDestino" name="emailDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.emailDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Teléfono</label>
                  <input type="text" class="form-control" id="telefonoDestino" name="telefonoDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.telefonoDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Pais</label>
                  <input type="text" class="form-control" id="paisDestino" name="paisDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.paisDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Calle</label>
                  <input type="text" class="form-control" id="calleDestino" name="calleDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.calleDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Número</label>
                  <input type="text" class="form-control" id="numeroDestino" name="numeroDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.numeroDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Codigo Postal</label>
                  <input type="text" class="form-control" id="cpDestino" name="cpDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.cpDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Colonia</label>
                  <input type="text" class="form-control" id="coloniaDestino" name="coloniaDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.coloniaDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Ciudad</label>
                  <input type="text" class="form-control" id="ciudadDestino" name="ciudadDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.ciudadDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Estado</label>
                  <input type="text" class="form-control" id="estadoDestino" name="estadoDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.estadoDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">RFC</label>
                  <input type="text" class="form-control" id="rfcDestino" name="rfcDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.rfcDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Referencia</label>
                  <input type="text" class="form-control" id="referenciaDestino" name="referenciaDestino" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.referenciaDestino %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Paquete</h4>
          </div>
          <div class="card-body">
            
              <div class="row">
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="options-outlined" id="btnSobre" autocomplete="off" required>
                  <label class="btn btn-outline-primary" for="btnSobre">Sobre</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="options-outlined" id="btnCaja" autocomplete="off" required>
                  <label class="btn btn-outline-primary" for="btnCaja">caja</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="options-outlined" id="btnTarima" autocomplete="off" required>
                  <label class="btn btn-outline-primary" for="btnTarima">tarima</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="options-outlined" id="btnCamion" autocomplete="off" required>
                  <label class="btn btn-outline-primary" for="btnCamion">camión</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Contenido</label>
                  <input type="text" class="form-control" id="contenido" name="contenido" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.contenido %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Unidad</label>
                  <input type="text" class="form-control" id="unidad" name="unidad" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.unidad %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Valor declarado</label>
                  <input type="text" class="form-control" id="valor" name="valor" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.valor %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Cantidad de paquetes</label>
                  <input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.cantidad %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="firstName">Largo</label>
                  <input type="text" class="form-control" id="largo" name="largo" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.largo %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Ancho</label>
                  <input type="text" class="form-control" id="ancho" name="ancho" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.ancho %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Altura</label>
                  <input type="text" class="form-control" id="altura" name="altura" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.altura %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Peso</label>
                  <input type="text" class="form-control" id="peso" name="peso" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.peso %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Estado</label>
                  <input type="text" class="form-control" id="estado" name="estado" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.estado %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="firstName">Servicios adicionales</label>
                  <input type="text" class="form-control" id="servicios" name="servicios" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.servicios %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="lastName">Firma electrónica</label>
                  <input type="text" class="form-control" id="firma" name="firma" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.firma %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="lastName">Considerado Peligroso</label>
                  <input type="text" class="form-control" id="peligroso" name="peligroso" placeholder="" value="if(typeof envio !== 'undefined') {%> <%- envio.peligroso %> <%}%>" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="mb-4">
        <button class="btn btn-<%- color %> btn-lg btn-block" type="submit">Crear envío</button>
      </div>
    </div>
  </form>
  <%- include('footer.ejs'); %>