<%- include('header.ejs'); %>
<%- modal %> 
  <form  method="post" id="formEnvia" name="formEnvia" >
    <div class="row <%if(typeof label === 'undefined'){%>invisible<%}%>">
      <div class="col-md-12">
        <button class="btn btn-<%- color %> btn-lg btn-block" 
          data-bs-toggle="modal" data-bs-target="#exampleModal" 
          type="submit">Información de envio</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Dirección de Origen</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nombreOrigen" >Nombre<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nombreOrigen" name="nombreOrigen" placeholder="" 
                value="<%- printValue("nombreOrigen")%>" <%- disabled %> required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="empresaOrigen">Empresa</label>
                <input type="text" class="form-control" name="empresaOrigen" id="empresaOrigen" placeholder="" 
                value="<%- printValue("empresaOrigen")%>" <%- disabled %> >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="emailOrigen">Email</label>
                <input type="text" class="form-control" id="emailOrigen" name="emailOrigen" placeholder="" 
                value="<%- printValue("emailOrigen")%>" <%- disabled %> >
              </div>
              <div class="col-md-6 mb-3">
                <label for="telefonoOrigen">Teléfono<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="telefonoOrigen" name="telefonoOrigen" placeholder="" 
                value="<%- printValue("telefonoOrigen")%>" <%- disabled %> required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="paisOrigen">Pais<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="paisOrigen" name="paisOrigen" placeholder="" 
                value="México" disabled required>
                <input type="hidden" name="paisCodOrigen" id="paisCodOrigen" value = "MX">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="calleOrigen">Calle<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="calleOrigen" name="calleOrigen" placeholder=""
                value="<%- printValue("calleOrigen")%>" <%- disabled %> required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="numeroOrigen">Número</label>
                <input type="text" class="form-control" id="numeroOrigen" name="numeroOrigen" placeholder=""
                value="<%- printValue("numeroOrigen")%>" <%- disabled %> >
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cpOrigen">Codigo Postal<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cpOrigen" name="cpOrigen" placeholder="" 
                value="<%- printValue("cpOrigen")%>" <%- disabled %> required>
              </div>
              <div class="col-md-6 mb-3 ">
                <label for="coloniaOrigen">Colonia</label>
                <select class="form-select" style="overflow:auto;" id="coloniaOrigen" name="coloniaOrigen" aria-label="Default select example" <%- disabled %>>
                  <option selected readonly="true" hidden value="<%- printValue("coloniaOrigen")%>"> <%- printValue("coloniaOrigen")%> </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="ciudadOrigen">Ciudad<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="ciudadOrigen" name="ciudadOrigen" placeholder="" 
                value="<%- printValue("ciudadOrigen")%>" readonly="true" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="estadoOrigen">Estado<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="estadoOrigen" name="estadoOrigen" placeholder="" 
                value="<%- printValue("estadoOrigen")%>" readonly="true"  required>
                <input type="hidden" name="estadoCodOrigen" id="estadoCodOrigen"
                value="<%- printValue("estadoCodOrigen")%>">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="rfcOrigen">RFC</label>
                <input type="text" class="form-control" id="rfcOrigen" name="rfcOrigen" placeholder="" 
                value="<%- printValue("rfcOrigen")%>" <%- disabled %> >
              </div>
              <div class="col-md-6 mb-3">
                <label for="referenciaOrigen">Referencia</label>
                <input type="text" class="form-control" id="referenciaOrigen" name="referenciaOrigen" placeholder="" 
                value="<%- printValue("referenciaOrigen")%>" <%- disabled %>>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Destino</h4>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nombreDestino">Nombre<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="nombreDestino" name="nombreDestino" placeholder="" 
                  value="<%- printValue("nombreDestino")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="empresaDestino">Empresa</label>
                  <input type="text" class="form-control" id="empresaDestino" name="empresaDestino" placeholder="" 
                  value="<%- printValue("empresaDestino")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="emailDestino">Email</label>
                  <input type="text" class="form-control" id="emailDestino" name="emailDestino" placeholder="" 
                  value="<%- printValue("emailDestino")%>" <%- disabled %> >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="telefonoDestino">Teléfono<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="telefonoDestino" name="telefonoDestino" placeholder="" 
                  value="<%- printValue("telefonoDestino")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="paisDestino">Pais<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="paisDestino" name="paisDestino" placeholder="" 
                  value="México" disabled required>
                  <input type="hidden" name="paisCodDestino" id="paisCodDestino" value = "MX">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="calleDestino">Calle<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="calleDestino" name="calleDestino" placeholder="" 
                  value="<%- printValue("calleDestino")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="numeroDestino">Número</label>
                  <input type="text" class="form-control" id="numeroDestino" name="numeroDestino" placeholder="" 
                  value="<%- printValue("numeroDestino")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cpDestino">Codigo Postal<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cpDestino" name="cpDestino" placeholder="" 
                  value="<%- printValue("cpDestino")%>" <%- disabled %> required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="coloniaDestino">Colonia</label>
                  <select class="form-select" style="overflow:auto;" id="coloniaDestino" name="coloniaDestino" aria-label="Default select example" <%- disabled %>>
                    <option selected readonly="true" hidden value="<%- printValue("coloniaDestino")%>"> <%- printValue("coloniaDestino")%> </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="ciudadDestino">Ciudad<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="ciudadDestino" name="ciudadDestino" placeholder="" 
                  value="<%- printValue("ciudadDestino")%>" readonly="true" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="estadoDestino">Estado<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="estadoDestino" name="estadoDestino" placeholder="" 
                  value="<%- printValue("estadoDestino")%>" readonly="true" required>
                  <input type="hidden" name="estadoCodDestino" id="estadoCodDestino"
                  value="<%- printValue("estadoCodDestino")%>">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="rfcDestino">RFC</label>
                  <input type="text" class="form-control" id="rfcDestino" name="rfcDestino" placeholder="" 
                  value="<%- printValue("rfcDestino")%>" <%- disabled %> >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="referenciaDestino">Referencia</label>
                  <input type="text" class="form-control" id="referenciaDestino" name="referenciaDestino" placeholder="" 
                  value="<%- printValue("referenciaDestino")%>" <%- disabled %> >
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-<%- color %> text-white text-center">
            <h4 class="card-title">Paquete</h4>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check " name="tipo" id="btnSobre" autocomplete="off" value="envelope" <%- checked("envelope") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnSobre">Sobre</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnCaja" autocomplete="off" value="box" <%- checked("box") %> <%- disabled %> required >
                  <label class="btn btn-outline-primary" for="btnCaja">caja</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnTarima" autocomplete="off" value="pallet" <%- checked("pallet") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnTarima">tarima</label>
                </div>
                <div class="col-md-3 mb-3">
                  <input type="radio" class="btn-check" name="tipo" id="btnCamion" autocomplete="off" value="full_truck_load" <%- checked("full_truck_load") %> <%- disabled %> required>
                  <label class="btn btn-outline-primary" for="btnCamion">camión</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="contenido">Contenido<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="contenido" name="contenido" placeholder=""
                  value="<%- printValue("contenido")%>" <%- disabled %> required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="valor">Valor declarado</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="valor" name="valor" placeholder="" 
                    value="<%- printValue("valor")%>" <%- disabled %> >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="cantidad">Cantidad de paquetes</label>
                  <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="" min="1"
                  value="<%- printValue("cantidad")%>" <%- disabled %> >
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="largo">Largo<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="largo" name="largo" placeholder="" 
                    value="<%- printValue("largo")%>" <%- disabled %> required>
                    <span class="input-group-text">CM</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="ancho">Ancho<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="ancho" name="ancho" placeholder="" 
                  value="<%- printValue("ancho")%>" <%- disabled %> required>
                    <span class="input-group-text">CM</span>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="altura">Altura<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="alto" name="alto" placeholder="" 
                  value="<%- printValue("alto")%>" <%- disabled %> required>
                    <span class="input-group-text">CM</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="peso">Peso<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="peso" name="peso" placeholder="" 
                  value="<%- printValue("peso")%>" <%- disabled %> required>
                    <span class="input-group-text">KG</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="servicios"><br>Seguro</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="seguro" name="seguro" placeholder="" 
                    value="<%- printValue("seguro")%>" <%- disabled %> >
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="firma">Firma electrónica</label>
                  <input type="text" class="form-control" id="firma" name="firma" placeholder="" 
                  value="<%- printValue("firma")%>" <%- disabled %> >
                </div>
                <div class="col-md-4 mb-3">
                  <label for="peligroso">Considerado Peligroso</label>
                  <input type="text" class="form-control" id="peligroso" name="peligroso" placeholder="" 
                  value="<%- printValue("peligroso")%>" <%- disabled %> >
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row fixed-bottom">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="card">
          <div class="btn-group card-body">
            <div class="dropup mx-2">
              <button class="btn btn-secondary dropdown-toggle" <%- disabled %> type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cotización rápida
              </button>
              <div class="text-danger">
                <% if(typeof error !== undefined){ %>
                   <%- error %>
                     <% } %>
              </div>
              <div class="dropdown-menu" style="overflow:auto; height: 300px;" name="dropdownCouriers" id="dropdownCouriers">
              </div>
            </div>
            O
            <button class="btn btn-<%- color %>  btn-block mx-2" <%- disabled %> type="submit" name="btnCotizarTodos" id="btnCotizarTodos" value="todos">Cotizar todos los transportistas</button>
          </div>
        </div>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white mb">
              <h5 class="modal-title" id="exampleModalLabel"><%- modal_title %></h5>
                <div class="spinner-border spinner-border-sm text-light ms-3" name="modalLoad" id="modalLoad" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="list-group" name="modalList" id="modalList">
                    <% if(typeof label !== 'undefined') {%>
                      <%- printObject(label) %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="invisible" id="btnSubmit" name="btnSubmit"></button>
      <input type="hidden" name="btnCourier" id="btnCourier">
      <input type="hidden" name="couriers" id="couriers" >
  </form>

  <script>
    //events

    $(document).ready(function(){
      printCouriers();
    });

    $(document).ajaxStop(function() {
      $('#modalLoad').hide();
    });

    $("#cpOrigen").focusout(() => {
      $zip = $("#cpOrigen").val();
      if($zip.length === 5) {
          geolocation_zip($zip, "Origen");
        }
    });
    
    $("#cpDestino").focusout(() => {
      $zip = $("#cpDestino").val();
      if($zip.length === 5) {
          geolocation_zip($zip, "Destino");
        }
    });
    $("#btnCotizarTodos").click((event) => {     
      var form = $("#formEnvia");
      if(!form.valid()) return;
      $('#exampleModal').modal('show');
      $('#modalList').html('');
      $('#modalLoad').show();

      var unindexed_array = form.serializeArray();
      var formData = {};
      $.map(unindexed_array, function(n, i){
          formData[n['name']] = n['value'];
      });
      var carriers = JSON.parse($("#couriers").val());
      for(var i = 0; i < carriers.length; i++){
          quote(carriers[i].name, false);
      }
      event.preventDefault()
    });

    //functions
    function printCouriers(){
      $.ajax({
          type: "GET",
          url: '/couriers',
          success: (couriers) => {
            html = "";
            $("#couriers").val(JSON.stringify(couriers));            
            for (let i = 0; i < couriers.length; i++)
              html += '<button class="dropdown-item cotizar" onclick="quote(this.value)" type="button" value="'+couriers[i].name+'">'+couriers[i].description+'</a>'            
            $("#dropdownCouriers").html(html);
          },
          error: (err) => {
            console.log("Error EJS: " + err);
            location.href = "/";
          }
      });
    }

    function geolocation_zip(zip, type){
        $.ajax({
          url: "https://geocodes.envia.com/zipcode/MX/"+zip,
          method: "GET",
          data:{action:'fetch'},
          dataType: "JSON",
          success:function(data){
            if(data){
              $.each(data[0].suburbs, function (i, item) {
                $('#colonia'+type).append($('<option>', { 
                    value: item,
                    text : item 
                }));
              });
              $('#ciudad'+type).val(data[0].regions.region_2);
              $('#estado'+type).val(data[0].state.name);
              $('#estadoCod'+type).val(data[0].state.code["2digit"]);
            } 
          }

        })
      }

    function quote(courier, single = true){       
      var form = $("#formEnvia");
      if(!form.valid()) return;
      $('#btnCourier').val(courier);
      if(single){
        $('#exampleModal').modal('show');
        $('#modalList').html('');
        $('#modalLoad').show();
      }
      else{
        console.log("Cotizando "+ courier);
      }
      var unindexed_array = form.serializeArray();
      var formData = {};
      $.map(unindexed_array, function(n, i){
          formData[n['name']] = n['value'];
      });

      $.ajax({
          type: "POST",
          url: '/quote',
          data: formData, // serializes the form's elements.
          success: (quote) => {
            if(quote[0].carrier === "No disponible" && single){
              $('#modalList').append('<li class="list-group-item d-flex justify-content-between lh-condensed"><h6>\
                                      No se encontraron cotizaciones para '+ courier +'\
                                    </h6></li>');
            }
            else{
              $('#modalList').append(printQuote(quote));
            }
          }
      });
      event.preventDefault();
    }
        
    function createHeader(carrier){
        return '<br><li class="list-group-item list-group-item-secondary">\
                  <div ><h6 class="my-0 fw-bold">Paquetería: '+ carrier +'</h6></div>\
                </li>';
    }

    function createRow(content, key){
      sign = '';	
      if(key === 'totalPrice') sign = '$';
      return '<td style="vertical-align: middle; width:25%">\
                <h6 class="my-0">'+ sign + content +'</h6>\
              </td>';
    }

    function createButton(carrier, service){
      return '<td><button type="submit" class="btn btn-primary" name="btnGenerar" id="btnGenerar" value ="'+carrier+','+service+'">\
                  Generar\
              </button></td></tr></tbody></table></li>';
    }

    function printQuote(obj){
        var List = '';
        if(typeof obj === 'undefined') return List;
        //HTML elements
        for(var i=0;i<obj.length;i++){
            Object.keys(obj[i]).forEach(key => {
                if(obj[i][key]) {
                    if(obj[i][key] !== 'No disponible'){
                        if(key === 'carrier') {
                          if(i === 0)
                            List += createHeader(obj[i][key]);
                          List += '<li class="list-group-item"><table class="table text-center table-borderless" style="width: 100%"><tbody><tr>';
                          return; 
                        }
                        List += createRow(obj[i][key], key);
                        if(key === 'totalPrice'){
                          List += createButton(obj[i]['carrier'], obj[i]['service']);
                        }
                    }
                }
            })
        }
        return List;
    }
  </script>  	
  	
  <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
  <%- include('footer.ejs'); %>